div.App {
  text-align: center;
}

div.links-menu {
  text-align: center;
  padding: 1em;
}

div.links-menu a {
  padding: 1em;
}

div.page {
  padding: 1em;
}

button.link-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

div.dashboard {
  padding: 1em;
  margin: 1em;
}

div.dashboard-row {
}

div.dashboard-tile {
  border: solid 1px;
  display: inline;
  margin: 1em;
  padding: 1em;
}
