div.page {
  text-align: center;
}

div.site-title {
  display: inline;
  float: left;
}

div.links-menu {
  text-align: center;
  padding: 1em;
  background:darkgray;
}

div.links-menu a {
  padding: 1em;
  color: white;
}

div.page {
  padding: 1em;
}

div.delete-component {
  display: inline;
}

div.delete {
  display:inline;
}

div.edit-buttons {
  display: inline;
}

div.buttons input {
  margin: 0.5em;
}

div.buttons button {
  margin: 0.5em;
}

button.link-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

div.dashboard {
  padding: 1em;
  margin: 1em;
}

div.dashboard-row {
}

div.dashboard-tile {
  border: solid 1px;
  display: inline;
  margin: 1em;
  padding: 1em;
}

div.key-value-row {
 display:flex; 
 padding-top: 0.5em;
 padding-bottom: 0.5em;
}

div.key-value-value {
  flex: 50%;
  text-align: left;
}

div.key-value-label {
  text-align: right;
  flex: 50%;
  padding-right: 2em;
}

span.key-value-label {
  font-weight: bold;
}

ul {
  list-style: none;
}
